.component-Dingding-Ding{
    .ding-icon{
        float: left;
        margin-top: 3px;
        margin-right: 5px;
        font-size: 16px;
        color: #207ED2;
    }
    .ding-name{
        float: left;
    }
}