$name: ThinkLayout;

.#{$name}{
    .#{$name}-body{
        width: 100%;
        min-height: 100%;
        float: left;
    }
    .#{$name}-header{
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    .#{$name}-footer{
        width: 100%;
        position: fixed;
        z-index: 100;
        bottom: -1px;
    }
}