$name: appComponentsAmoebaFeedbackShow;

.#{$name}{
    .#{$name}-header{
        display: flex;
        margin-bottom: 2px;
        .#{$name}-avatar{
            margin-right: 15px;
        }
        .#{$name}-info{
            margin-bottom: 2px;
            flex: 1;
            display: flex;
            .#{$name}-user{
                .#{$name}-user-position{
                    display: inline-block;
                    background-color:#ff7171 ;
                    color:white;
                    margin-top: 1px;
                    padding: 1px 3px;
                    border-radius: 5px;
                }
                .#{$name}-user-score{
                    display: inline-block;
                    color:#D57E70;
                    margin-top: 1px;
                    margin-left:5px;
                    font-size: 15px;
                }
            }
            .#{$name}-title-border{
                flex: 1;
                text-align: right;
            }
            .#{$name}-title{
                margin-right: 0;
            }
        }
    }
    .#{$name}-feedbacks-border{
        .#{$name}-feedback{
            border: none;
            padding: 0px 5px;
            .#{$name}-message{
                margin:15px auto;
                font-size: 12px;
            }
            .#{$name}-feedbacks{
                margin-top: 3px;
                padding-left: 17px;

                .#{$name}-objectives-key-results-rank{
                    color: #d92c2b;
                    font-size: 10px;
                    margin-left: -17px;
                    float:left;
                    margin-top: 5px;
                }
            }
        }
    }
    .#{$name}-comment-border{
        .#{$name}-comment{
            margin-top: 4px;
            padding-left: 2px;
            font-size: 12px;
        }
    }
    .#{$name}-score-border{
        display: flex;
        flex-direction: row;
        border-top: 0.8px dashed #ddd;
        font-size: 12px;
        padding: 5px 0px;
        align-items: center;
        &:after{
            content: "";
            display: block;
            clear: both;
        }
        .#{$name}-score{
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            .#{$name}-score-info{
                display: inline-block;
                align-items: center;
                width: 50%;
                .#{$name}-score-name{
                    margin: 0px 2.5px;
                    display: inline-block;
                }
                .#{$name}-long-arrow-up{
                    display: inline-block;
                    margin: 0px 2.5px;
                    color: #d92c2b;
                }
                .#{$name}-long-arrow-down{
                    display: inline-block;
                    margin: 0px 2.5px;
                    color: darkgreen;
                }
            }
        }
        .#{$name}-score-coefficient{
            flex-grow: 0;
            flex-basis: 60px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .#{$name}-hr{
        height: 0px;
        width: 100%;
        border-bottom: 0.8px dashed #ddd;
        margin-top: 2px;
    }
    .#{$name}-text-list{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}