.Book-PersonalCenter{
    .Book-PersonalCenter-Title{
        font-size: 20px;
        font-weight: bold;
        padding-top: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}