$name: Coursera-Table;
.#{$name}{
	.#{$name}-header
	{
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		padding-top: 5px;
		padding-bottom:5px;
		position: fixed;
		top:0;
		z-index: 1000;
		width: 100%;
		div:nth-child(1)
		{
			padding-left:10px;
			flex-grow: 1;
			color:#5FB5D8;
		};
		div:nth-child(2)
		{
			padding-left:10px;
			flex-grow: 5
		};
		div:nth-child(3)
		{
			flex-grow: 1;
			font-size:12px;
			padding-left:10px;
			padding-right: 10px;
			text-align: center;
			>span{
				color: #5FB5D8
			}
		}
	}
	.userProfileContainerParent
	{
		margin-top: 40px;
		margin-bottom: 45px;
		.userProfileContainer
		{
			/*overflow: auto;*/
			margin-bottom: 10px;
			.userProfile{
				width: 100%;
				.userProfileTop
				{
					padding-left: 15px;
			    	padding-right: 15px;
					display: flex;
					align-items: center;
					padding-bottom: 10px;
					.userInfo
					{
						padding-left: 5%; 
						width: 100%;
						.userInfoTop,.userInfoBottom
						{
							clear:both;
							p:nth-child(1)
							{
								float: left;
							};
							p:nth-child(2)
							{
								float: right;
							}
						}
						.userInfoTop
						{
							p:nth-child(2)
							{
								font-size: 12px;
							}
						}
					};
				};
				.userProfileBottom
				{
					width: 90%;
					background: #F4F7F8;
					/*border: 1px solid #F4F8F9;*/
					margin: 0 auto;
					border-radius: 1px;
					position: relative;
					.icon
					{
						position: absolute;
						width: 20%;
						display: flex;
						//padding-right: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						top:0;
						left: 0;
						right: 0;
						bottom: 0;
						.iconContainer
						{	
							font-size: 8px;
							color: #ED9230;
							text-align: center;
                            padding-left: 10px;
                            padding-right: 10px;
							>img
							{
								width: 26px;
								height: 30px;
							}
						}
					};
					.certificate
					{
						float: right;
						width: 80%;
						.certificateContainer
						{
                            display: inline-block;
							>p{
								font-size: 14px;
								width: 100%;
								word-wrap: break-word;
								padding-top: 10px;
							};
							>a
							{
								font-size: 14px;
								display: inline-block;
								width: 100%;
								word-wrap: break-word;
								padding-top: 5px;
								padding-bottom: 5px;
							}
						}
                        .certificatePreview
                        {
                            margin-bottom: 10px;
                        }
					}
				}
			}
		}
	}
	/*footer*/
	.#{$name}-footer
	{
		height: 45px;
		text-align: center;
		line-height: 45px;
		font-size: 18px;
		background: #5FB5D8;
		width: 100%;
		color: white;
		position: fixed;
	}
	.#{$name}-comfirm
	{
		height: 45px;
		text-align: center;
		line-height: 45px;
		font-size: 18px;
		background: #5FB5D8;
		width: 100%;
		color: white;
	}
	/*覆盖ant mobile样式*/
	.am-list-body {
	    position: relative;
	    background-color: #F4F4F4;
	    /*border-top: 0.8px solid #ddd;*/
	}
	.ant-select-selection{
        border-radius: 3px;
        border: 1px solid #d9d9d9;
    }
	.am-list-content {
	    -ms-flex: 1;
	    flex: 1;
	    color: #000;
	    font-size: 15px;
	    line-height: 1.5;
	    text-align: left;
	    width: auto;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: pre-wrap;
	    padding-top: 9px;
	    padding-bottom: 9px;
	    margin-bottom: 10px;
	}
	.am-list-line .am-list-content {
	    flex: 1;
	    color: #000;
	    font-size: 15px;
	    line-height: 1.5;
	    text-align: left;
	    width: auto;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: pre-wrap;
	    padding-top: 9px;
	    /*padding-bottom: 9px;*/
	}
	.am-list-item .am-list-line-multiple {
	     padding: 0; 
	};
	.am-list-item {
	    position: relative;
	    display: flex;
	   	padding-left: 0;
	    min-height: 45px;
	    background-color: #fff;
	    vertical-align: middle;
	    overflow: hidden;
	    transition: background-color 200ms;
	    align-items: center;
	}
	.am-list-body div:not(:last-child) .am-list-line:after
	{
		border-bottom: none;
	}
	.am-list-body:after
	{
		border-bottom: none;
	}
}
.#{$name}-PC
{

    .#{$name}-preview
    {
        >div
        {
            text-align: center;
        }
    }
	.container
	{
		height: 50px;
		line-height: 50px;
		width: 100%;
        padding-left: 10px;
        padding-right: 10px;
		.search
		{
			display: inline-block;
			width: 300px;
			>a
			{
				padding-right: 10px;
				display: inline-block;
				color: #5FB5D8;
				font-size: 12px;
			}
		}
		.#{$name}-PC-count
		{
			padding-left: 10px;
			>a
			{
				color: #5FB5D8;
				font-size: 12px;
			}
		}
		.add
		{
			display: inline-block;
			width: 100px;
			float: right;
			margin-top: 10px;
            .am-button-primary {
                color: #fff;
                background-color: #5FB5D8;
                border: 0.8px solid #5FB5D8;
            }
		}
	}
    .ant-pagination-item-active {
        background-color: #5FB5D8;
        border-color: #5FB5D8;
    }
    .ant-table-pagination {
        margin: 16px 5px;
        float: right;
    }
	.PCSchool
	{
		display: inline-block;
		width: 200px;
	}
	.PCCourseraname
	{
		display: inline-block;
		width: 200px;
	}
	.#{$name}-comfirm
	{
		height: 45px;
		text-align: center;
		line-height: 45px;
		font-size: 18px;
		background: #5FB5D8;
		width: 100%;
		color: white;
	}
}
