$name: routePerformanceOkrFeedbackEdit;

.#{$name}{
    background-color:#F1F1F1;
    height: auto;
    width: 100%;
    position: relative;
    .#{$name}-editBtn{
        background-color: #4e394c;
    }
}






